---
- hosts: all
  become: yes

  tasks:
    - name: Update packages
      apt:
        name: "*"
        state: latest

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Start nginx
      service:
        name: nginx
        state: started
        enabled: true

    - name: Clone a GitHub repository
      git:
        repo: "https://github.com/donfaruco/color-app.git"
        dest: "/opt/staging/demo"


    - name: Create index.html
      copy:
        src: /opt/staging/demo/index.html
        dest: /var/www/html/index.nginx-debian.html
        remote_src: yes

